Dockerfile
.dockerignore
.gitignore
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
env
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.idea
.ipynb_checkpoints
dist
build
**/*.egg-info
notebooks
tests
